<macro>
def enabled(data):
   return data,{'ip_routing':True}
def disabled(data):
   return data,{'ip_routing':False}
</macro>

<group name="routing">
{{ ip_routing | set(false) }}
ip routing {{ ip_routing | set(true) }}

<group name="vrfs.{{vrf}}" method="table">
no ip routing vrf {{vrf | | macro("disabled")}}
ip routing vrf {{vrf | macro("enabled")}}
</group>

</group>
