<group name="interfaces.management_interfaces.{{management_interface}}">
interface Management{{management_interface | ORPHRASE}}
   description {{description}}
   vrf {{vrf}}
   vrf forwarding {{vrf}}
   ip address {{ip_address}}/{{netmask}}
   ipv6 enable {{ ipv6_enable | set(true) }}
   ipv6 address {{ipv6_address}}/{{ipv6_netmask}}
   shutdown {{ shutdown | set(True) }}

</group>