<group name="spanning_tree">
spanning-tree mode {{mode}}

<group name="mst.{{instance}}" >
spanning-tree mst {{instance}} priority {{priority}}
</group>

no spanning-tree vlan-id {{no_spanning_tree_vlan }}

</group>